html,body {
  margin: 0 auto;
  padding: 0 auto;
  background-image: url("/img/background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top center;
  font-family: arial, helvetica, verdana, sans-serif;
  overflow-y: scroll;
}
input[type='submit'], input[type='button'] {
  background-color: #333333;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  width: auto !important;
}
#maincontainer {
  width: 1000px;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
}
#logo {
  width: 211px;
  height: 64px;
  float: left;
  margin: 10px 5px 10px 0;
  padding: 0;
  background-image: url("/img/bogsLogo.jpg");
  background-repeat: no-repeat;
}
#navarea {
  background-color: #bab7a5;
  width: 779px;
  height: 64px;
  margin: 10px 0 10px 5px;
  padding: 0;
  float: left;
}
#maincontainer .account-links {
  font-size: 9pt;
  position: absolute;
  right: 10px;
  top: 14px;
}
#maincontainer .account-links a {
  color: #000;
}
#maincontainer .account-links a:hover {
  text-decoration: underline;
}
#navigation {
  position: relative;
  top: 40px;
  left: 10px;
}
#navigation .cart-icon {
  margin-bottom: 1px;
  vertical-align: bottom;
}
#navigation a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 9pt;
  margin: 0 8px 0 0;
}
#navigation a:hover {
  color: #ffffff;
}
#bannerimage {
  width: 1000px;
  margin: 0 0 10px 0;
  padding: 0;
}
#maincontent {
  width: 1000px;
  /*min-height: 520px;*/
  margin: 10px 0 0 0;
  padding: 0;
}
#maincontent2 {
  width: 1000px;
  margin: 10px 0 0 0;
  padding: 0;
}
#subnav {
  float: left;
  width: 211px;
  min-height: 720px;
  color: #ffffff;
  background-color: #bab7a5;
  margin: 0 5px 0 0;
  padding: 0;
}
#navcontent {
  position: relative;
  top: 10px;
  font-size: 10pt;
  list-style-type: none;
}
#navcontent b {
  color: #000000;
  font-size: 11pt;
}
#navcontent a {
  margin: 0 0 0 15px;
}
#navcontent a:hover {
  color: #ffffff;
}
#navcontent a:active {
  color: #000000;
}
#contentarea {
  float: right;
  width: 779px;
  background-color: #ffffff;
  min-height: 720px;
  margin: 0 0 0 5px;
  padding: 0;
}
#content {
  position: relative;
  top: 15px;
  left: 20px;
}
#contentarea2 {
  /*float: right;*/
  width: 960px;
  background-color: #ffffff;
  /*min-height: 1200px;*/
  margin: 0;
  padding: 20px 20px;
}
#content2 {
  /*position: relative;*/
  top: 15px;
  left: 20px;
}
#contentarea3 {
  float: right;
  width: 1000px;
  margin: 0;
  padding: 0;
}
#content3 {
  position: relative;
  top: 0;
  left: 0;
}
#account fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#account fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#account .account-table {
  font-size: 10pt;
}
#account .account-table a {
  color: #f38401;
}
#account .account-table .error {
  color: #CC0000;
}
#account .account-table .success {
  color: #00AA00;
}
#cart fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#cart fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#cart .btn-checkout {
  margin-left: 10px;
  vertical-align: top
}
#cart .cart-table th {
  background-color: #dcdace;
  border-bottom: 1px solid #CCC;
  font-size: 10pt;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}
#cart .cart-table td {
  font-size: 10pt;
  text-transform: uppercase;
}
#cart .cart-table hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
}
#cart .cart-table .item-thumbnail {
  height: 75px;
  overflow: hidden;
  width: 75px;
}
#cart .cart-table .item-remove {
  cursor: pointer;
}
#cart .cart-table .item-row td {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}
#cart .cart-table .subtotal {
  background-color: #dcdace;
  font-weight: bold;
}
#cart .cart-table .subtotal td {
  border-bottom: 1px solid #ccc;
}
.product-desc {
  font-size: 12px;
}
#confirm fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#confirm fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#confirm .cart-table {
  font-size: 10pt;
}
#confirm .btn-checkout {
  margin-left: 10px;
  vertical-align: top
}
#confirm .cart-table th {
  background-color: #dcdace;
  border-bottom: 1px solid #CCC;
  font-size: 10pt;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}
#confirm .cart-table td {
  font-size: 10pt;
  text-transform: uppercase;
}
#confirm .cart-table hr {
  border: 0;
  color: #ccc;
  background-color: #ccc;
  height: 1px;
}
#confirm .cart-table .item-thumbnail {
  height: 75px;
  overflow: hidden;
  width: 75px;
}
#confirm .cart-table .item-row td {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}
#confirm .cart-table .subtotal {
  background-color: #dcdace;
  font-weight: bold;
}
#confirm .cart-table .subtotal td {
  border-bottom: 1px solid #ccc;
}
#confirm .shipping-table {
  font-size: 10pt;
}
#confirm .shipping-table a {
  color: #f38401;
}
#login fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#login fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#login .login-table {
  font-size: 10pt;
}
#login .login-table a {
  color: #f38401;
}
#login .login-table input[type='text'], input[type='password'] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10pt;
  padding: 2px;
  width: 200px;
}
#login .login-table input[type='submit'] {
  background-color: #333333;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  width: auto !important;
}
#login .login-table .error {
  color: #cc0000;
}
#login .login-reset-table {
  font-size: 10pt;
}
#login .login-reset-table input[type='text'], input[type='password'] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10pt;
  padding: 2px;
  width: 200px;
}
#login .login-reset-table input[type='submit'] {
  background-color: #333333;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  width: auto !important;
}
#login .login-reset-table .success {
  color: #00AA00;
}
#register fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#register fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#register .register-table {
  font-size: 10pt;
}
#register .register-table .register-errors {
  color: #ff0000;
}
#register .register-table a {
  color: #f38401;
}
#register .register-table input[type='text'], input[type='password'] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10pt;
  padding: 2px;
  width: 200px;
}
#register .register-table input[type='submit'] {
  background-color: #333333;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  width: auto !important;
}
#shipping fieldset {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
#shipping fieldset legend {
  color: #f38401;
  font-size: 12pt;
  text-transform: uppercase;
}
#shipping .shipping-table {
  font-size: 10pt;
}
#shipping .shipping-table a {
  color: #f38401;
}
#shipping  .shipping-table input[type='text'], input[type='password'] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 10pt;
  padding: 2px;
  width: 200px;
}
#shipping .shipping-table input[type='submit'] {
  background-color: #333333;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  width: auto !important;
}
#login .login-table .error {
  color: #cc0000;
}
#login .login-reset-table {
  font-size: 10pt;
}
#breadcrumb {
  font-size: 8pt;
}
#footer {
  width: 1000px;
  background-color: #000000;
  margin: 10px 0 0 0;
  padding: 0;
  height: 30px;
}
.clear {
  clear: both;
}
a{
  color: #777777;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  text-decoration: none;
}
#page {
  width: 710px;
  background-color: #fff;
  margin: 0;
  text-align: left;
}
#container {
  padding: 0;
  text-align: left;
}
.sizingTable {
  border-bottom:1px solid #CCCCCC;
  padding-bottom:25px;
  width:100%;
}
.sizingTable td {
  color:#666666;
  font-size:12px;
  padding:3px;
  text-decoration:none;
  width:60px;
}
#wrapper {
    margin: -10px 0 0 0;
    padding: 0;
}
.modal {
  background-image: url("/img/modalbkg.png");
  background-repeat: no-repeat;
  margin-top: 35px;
  z-index: 999;
}
.modal .modalHeader {
  padding: 15px 0 0 25px;
  width: 620px; 
  height: auto;
  text-align: left;
}
.modal .modalBack a{
  position: relative;
  cursor:pointer;
  width: 55px;
  height: 45px;
  margin: -40px 0 0 0;
  float: right;
  text-decoration: none;
}
.modal .modalBody {
  padding: 0 13px 0 0;
  margin: 12px 0 0 55px;
  width:850px;
  height:510px;
  text-align: left;
  color: #ffffff;
  font-size: 10px;
  overflow: auto;
  line-height: 12px;
}
.modal .modalBody td {
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
}
.modal .modalBody b {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
}
.modal .modalBody a {
  font-family: arial, helvetica, verdana;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #9d3335;
  cursor: pointer;
}
.modal .modalBody a:hover {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
div#modal-blanket {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0px;
  position: fixed;
  text-align:center;
  top: 0px;
  width: 100%;
  z-index: 1000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
div#dialog {
  background-color: #fff;
  border: 2px solid #999;
  border-radius: 20px;
  color: #666;
  display: none;
  font-size: 38px;
  font-weight: 400;
  height: 180px;
  position: absolute;
  text-align: center;
  width: 450px;
  z-index: 1001;
  -moz-box-shadow: 5px 5px 12px #333;
  -webkit-box-shadow: 3px 3px 12px #333;
  box-shadow: 5px 5px 12px #333;
}
div#dialog p {
  margin: 35px 0 15px 0;
}
